{% extends "base.html" %}
{% block title%} - Register page{% endblock %}
{% block body %}
  <h2>Register</h2>
  {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}
  {% if message %}
    <p class=message>{{ message }}
  {% endif %}
  <form method=post>
    <dl>
      <dt>Username:
      <dd><input type=text name=username>
      <dt>Password:
      <dd><input type=password name=password>
    </dl>
    <p><input type=submit value=Register>
  </form>
  <p><a href="login">Login page</a>
{% endblock %}